*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: Roboto;
	src: url(../Fonts/Roboto-Regular.ttf);
}

body {
	background-color: #efefef;
	font-family: Roboto; 
}

main {
	width: 70%;
	padding: 50px;
	margin: auto; 
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}

.photo {
	width: calc(50% - 40px);
	height: calc((35vw - 40px) / 16 * 9);
	margin: 20px;
	background-color: blue;
	background-position: center;
	background-size: cover;
	transition: all 0.4s ease;
}

.photo:hover {
	transform: rotate(3deg) scale(1.07);
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
}
	


h1 {
	width: 100%;
	text-align: center;
	font-size: 48px;
}

.photo1 {
	background-image: url(../img/img1.jpg) 
}
.photo2 {
	background-image: url(../img/img2.jpg) 
}
.photo3 {
	background-image: url(../img/img3.jpg) 
}
.photo4 {
	background-image: url(../img/img4.jpg) 
}
.photo5 {
	background-image: url(../img/img5.jpg) 
}
.photo6 {
	background-image: url(../img/img6.jpg) 
}
.photo7 {
	background-image: url(../img/img7.jpg) 
}
.photo8 {
	background-image: url(../img/img8.jpg) 
}
.photo9 {
	background-image: url(../img/img9.jpg) 
}
.photo10 {
	background-image: url(../img/img10.jpg) 
}




